#news {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 20px;
  width: 900px;
  background-color: #fcfbf4;
  border-radius: 15px;
  box-shadow: 1px 2px 10px 4px rgba(20,20,20,0.4);
  margin: 40px 0px 20px 200px;
}
h1 {
  border-bottom: 1px solid black;
  padding: 0 0 10px 0;
  display: flex;
  justify-content: center;
}
.article {
  border-bottom: 1px solid #b2baba;
  padding: 10px;
}
.article h3 {
  color: #185276;
  font-size: 20px;
}
.article p {
  font-size: 16px;
}
.article p.author {
  font-weight: bold;
  color: #7d6608;
}

.article .author + p {
  color: red;
}
