h1 {
  color: rgb(14, 6, 62);
  text-align: center;
  font-size: 60px;
  background-color: rgb(125, 170, 225);
}
h2 {
  color: midnightblue;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}
p {
  color: dimgrey;
  text-align: center;
  font-size: 25px;
  line-height: 1.5;
}
ul {
  list-style: square;
  margin-left: 20px;
}
img {
  width: 500px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
li {
  font-size: 28px;
  margin: auto;
}
