body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #e8e8e8;
  line-height: 1.6;
}
img {
  width: 900px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
#blog-post {
  max-width: 900px;
  margin: 50px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
h1 {
  font-size: 42px;
  color: #333;
  margin-top: 20px;
}
.author {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
}
p {
  margin-bottom: 25px;
  color: #333;
}
p:not(.special),
div:not(.special) {
  color: #333;
}
:where(p, div).author {
  font-size: 18px;
  color: #666;
}
.intro {
  color: #444;
  font-size: bold;
}
.tags {
  display: flex;
  gap: 342px;
  margin-top: 25px;
  padding: 15px;
}
.tags span {
  background-color: rgb(21, 154, 110);
  color: #fff;
  padding: 5px 15 px;
  border-radius: 12px;
  font-size: 10px;
}
